<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/jellyfin/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="2000mola2000-cyber" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>
